*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header__container{
    margin-left: 150px;
    margin-right: 150px;
}

.header__title{
    text-align: center;
    font-family: helvetica;
    margin-top: 30px;
    margin-bottom: 70px;
    width: 100%;
    color: magenta;
}

.paragrafo{
    text-align: center;
    margin: auto;
}

.container{
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
}

.description{
    vertical-align: middle;
    padding-left: 100px;
    padding-top: 5px;
}

img{
    float: left;
}

.clearfix::after{
    content: '';
    clear: both;
    display: table;
}

.card{
    background-color: black;
    color: white;
    width: calc(calc(100% - 30px) / 3);
    height: 70px;
    font-family: Calibri;
    float: left;
    margin-right: 10px;
    margin-bottom: 30px;
}

.card__name{
    color: white;
    font-size: 18px;
    font-weight: 800;
}

.card__role{
    font-size: 14px;
    padding-top: 3px;
}

.card__mail{
    font-size: 14px;
    color: dodgerblue;
    padding-top: 5px;
}